language: julia
sudo: false
os:
    - linux
julia:
    - 0.4
    - nightly
notifications:
    email: false
addons:
    apt:
        packages:
            - xvfb
            - xauth
            - libgtk-3-0
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - xvfb-run julia -e 'Pkg.clone(pwd()); Pkg.test("Gtk"; coverage=true)'
